/* CSS for Contact page*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.f{
    font-family: Arial, Helvetica, sans-serif;
}
section{
    height: 100vh;
    width: 100%;
    background-color: #1e90ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
}